{% extends "user/base.html" %}
{% block title %}Вход{% endblock %}

{% block content %}
    <div class="card shadow-sm mx-auto p-4" style="max-width: 400px;">
        <h2 class="text-center mb-4">Вход</h2>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="mb-3">
                    {{ field.label_tag }}
                    {{ field }}
                    <div class="text-danger">{{ field.errors }}</div>
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-success w-100">Войти</button>
        </form>
        <p class="text-center mt-3"><a href="{% url 'user:password_reset' %}">Забыли пароль?</a></p>
    </div>
{% endblock %}
