{% extends "user/base.html" %}
{% block title %}Восстановление пароля{% endblock %}

{% block content %}
<div class="card shadow-sm mx-auto p-4" style="max-width: 500px;">
    <h2 class="text-center mb-4">Восстановление пароля</h2>
    <p class="text-center">Введите вашу почту, и мы отправим вам инструкцию по восстановлению.</p>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.email.label_tag }}
            {{ form.email }}
            <div class="text-danger">{{ form.email.errors }}</div>
        </div>
        <button type="submit" class="btn btn-primary w-100">Отправить</button>
    </form>
</div>
{% endblock %}
