{% extends "user/base.html" %}
{% block title %}Регистрация{% endblock %}

{% block content %}
<div class="card shadow-sm mx-auto p-4" style="max-width: 500px;">
    <h2 class="text-center mb-4">Регистрация</h2>
    <form method="post">
        {% csrf_token %}

        {% for field in form  %}
            <div class="mb-3">
                {{ field.label_tag }}
                {{ field }}
                <div class="text-danger">{{ field.errors }}</div>
            </div>
        {% endfor %}

        <button type="submit" class="btn btn-primary w-100">Зарегистрироваться</button>
    </form>
</div>
{% endblock %}
