
{% extends "user/base.html" %}
{% load static %}
{% block content %}
<div class="container mt-4">
    <h2 class="text-danger">Вы уверены, что хотите удалить рассылку?</h2>
    <p><strong>ID:</strong> {{ distribution.id }}</p>
    <p><strong>Время начала:</strong> {{ distribution.start_time }}</p>
    <p><strong>Время окончания:</strong> {{ distribution.end_time }}</p>

    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Удалить</button>
        <a href="{% url 'distribution:distribution_list' %}" class="btn btn-secondary">Отмена</a>
    </form>
</div>
{% endblock %}