{% extends "user/base.html" %}

{% block content %}
    <div class="container mt-5">
        <h2 class="mb-4">Детали рассылки</h2>

        <div class="card shadow p-4">
            <h4 class="card-title">Статус: <span class="text-primary">{{ object.get_state_display }}</span></h4>
            <p><strong>Время начала:</strong> {{ object.start_time }}</p>
            <p><strong>Время окончания:</strong> {{ object.end_time }}</p>
            <p><strong>Сообщение:</strong> {{ object.message_distribution }}</p>
            <p><strong>Получатели:</strong>
            <ul>
                {% for recipient in object.recipients.all %}
                    <li>{{ recipient }}</li>
                {% empty %}
                    <li class="text-muted">Нет получателей</li>
                {% endfor %}
            </ul>
            </p>

            <h5>Статистика отправки:</h5>
            <p><strong>Успешно отправлено:</strong> {{ object.successful_attempts_count }}</p>
            <p><strong>Не удалось отправить:</strong> {{ object.failed_attempts_count }}</p>

            {% if object.error_messages %}
                <h5>Ошибки:</h5>
                <ul>
                    {% for error in object.error_messages %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p class="text-muted">Ошибок не было.</p>
            {% endif %}

            <div class="d-flex gap-3">
                <a href="{% url 'distribution:distribution_list' %}" class="btn btn-secondary">Назад</a>
                <a href="{% url 'distribution:distribution_delete' object.pk %}" class="btn btn-danger">Удалить</a>

                {% if object.state != 'start' %}
                    <a href="{% url 'distribution:distribution_send' object.pk %}" class="btn btn-success">Запустить рассылку</a>
                {% else %}
                    <p class="text-success">Рассылка в процессе отправки.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
