{% extends "user/base.html" %}
{% load static %}
{% block content %}

    <div class="container mt-5">
        <h2>Главная страница</h2>

        <div class="mt-4">
            <h3>Статистика рассылок:</h3>
            <ul>
                <li>Общее количество рассылок: {{ total_distributions }}</li>
                <li>Количество активных рассылок: {{ active_distributions }}</li>
                <li>Количество уникальных получателей: {{ unique_recipients }}</li>
            </ul>
        </div>
    </div>
{% endblock %}